.top {
  padding: 20px;
  border-bottom: 1px solid var(--color-neutral-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
}
.content {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.left {
  width: 240px;
  border-right: 1px solid var(--color-neutral-3);
  padding: 16px;
  overflow: auto;

  & > * {
    margin-bottom: 16px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
.main {
  flex: 1;
  overflow-x: hidden;
}
.icon {
  font-size: 16px;
}
.row {
  display: flex;
  align-items: center;
  gap: 16px;
  overflow: hidden;
}
.option {
  display: flex;
  align-items: center;
  gap: 10px;
}