.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background: var(--color-bg-1);
  border-bottom: 1px solid var(--color-neutral-3);
}
.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: #000;
}
.account {
  display: flex;
  align-items: center;
  gap: 5px;
}
.domain {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--color-text-2);

  img {
    width: 20px;
    height: 20px;
  }
}